* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Inter", sans-serif;

 
}

html {
  scroll-behavior: smooth;
}
header {
  background-image: url("./img/fundoalunas.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  height: 700px;
  width: 100%;

  z-index: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

header .banner {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}
.align-banner .banner h3 {
  color: white;
  font-size: 1rem;
  font-weight: 400;
}

.align-banner .banner h1 {
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  word-break: break-all;
  width: 500px;
  text-align: justify;
}
.align-banner {
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  padding-left: 40px;
}
.align-banner .banner button {
  border: 1px solid #3dc3bb;
  border-radius: 2px;
  padding: 10px;
  background-color: #3dc3bb;
  transition: 0.4s all ease-in-out;
}
.align-banner .banner button:hover {
  background-color: #3dc3baa5;
  transition: 0.4s all ease-in-out;
}
.align-banner .banner button a {
  color: white;
  font-size: 0.9rem;
  font-weight: 600;
  text-decoration: none;
}

/* SERVIÇOS*/

.servicos {
  margin-top: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
  width: 100%;
}
h2 {
  text-align: center;
  font-size: 1.5rem;
}
.servicos .card-servico {
  border: 2px solid rgba(187, 186, 186, 0.644);
  width: 350px;
  padding: 10px 10px;
  height: auto;
  border-radius: 8px;
  transition: 0.5s all ease-in-out;
}
.servicos .card-servico:hover {
  border-color: #3dc3bb;
  transition: 0.5s all ease-in-out;
}
.servicos .card-servico .header-card span {
  width: 5px;
  height: 30px;
  background-color: #3dc3bb;
  transition: 0.5s all ease-in-out;
}
.servicos .card-servico .header-card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 9px;
  margin-left: 0px;
  padding: 10px 0px;
  margin-top: 5px;
}
.servicos .card-servico .header-card p {
  margin: 0;
  font-weight: 700;
}
.servicos .card-servico .header-card img {
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.servicos .card-servico .img-card {
  width: 100%;
  height: auto;
}
.servicos .card-servico .img-card img {
  width: 100%;
  height: 170px;
  object-fit: cover;
}

.servicos .card-servico .texto-card {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-top: 10px;
  margin-left: 15px;
  gap: 10px;
}
.servicos .card-servico .texto-card a {
  font-size: 0.9rem;
  font-weight: 600;
  text-decoration: none;
  color: #3dc3bb;
}
.servicos .card-servico .texto-card p {
  margin: 0;
  word-break: break-all;
  font-weight: 400;
  font-size: 0.9rem;
  width: 300px;
  text-align: justify;
}
.img-fundo {
  background-image: url("./img/fundoequipe.jpg");
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  margin-top: 150px;
  padding: 20px;
}
.img-fundo h2 {
  text-align: center;
}
.equipe {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px;
  margin-top: 150px;
}
.equipe .card-equipe {
  width: 330px;
  height: auto;
  border-radius: 8px;
  border: 2px solid rgba(187, 186, 186, 0.644);
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  padding: 15px 14px;
  transition: 0.5s all ease-in-out;
}
.equipe .card-equipe:hover {
  border: 2px solid #3dc3bb;
  transition: 0.5s all ease-in-out;
}

.equipe .card-equipe .img-equipe {
  width: 100%;
  height: auto;
}
.equipe .card-equipe .img-equipe img {
  height: 300px;
  width: 300px;
  object-fit: cover;
}
.equipe .card-equipe p {
  margin: 0;
  color: black;
  font-weight: 600;
  font-size: 0.9rem;
}
.equipe .card-equipe .funcao {
  color: rgb(166, 166, 166);
  font-weight: 400;
  font-size: 0.8rem;
  margin: 0;
}
.equipe .card-equipe .redes-sociais {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
  margin-top: 5px;
}
.equipe .card-equipe .redes-sociais a {
  text-decoration: none;
  color: none;
}
.equipe .card-equipe .redes-sociais i {
  font-size: 1.1rem;
  color: #3dc3bb;
}

